.main {
  padding: 1rem;
  color: #fff !important;
  display: flex;
  padding-top: 200px;
  padding-left: 2rem;
  max-width: 1700px;
}

.pos__relative {
  position: relative;
}

.pos__absolute {
  position: absolute;
}

.title {
  font-size: 120px;
  font-weight: 700;
}

.profile__image {
  width: 268px;
  height: 400px;
}

.description {
  font-size: 24px;
  color: #818997;
  font-weight: 500;
  margin-top: 3rem;
  max-width: 570px;
}

.icon:hover {
  filter: hue-rotate(331deg) brightness(1.4) contrast(1.1) saturate(4);
  transition: filter 0.1s;
}

.contact {
  border: 2px solid #444a54;
  width: 158px;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: 2rem;
}

.information {
  color: #c9cacd;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-top: 4rem;
  justify-content: center;
}

.container__vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  right: 6rem;
  top: 1rem;
  font-size: 14px;
  color: #c9cacd;
}

.container__vertical__text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.container__vertical__separator {
  border: 1px solid #444a54;
  height: 96px;
  width: 0;
}

.vertical__separator__left {
  position: absolute;
  bottom: 0;
}

.loop {
  top: 80px;
  z-index: -1;
}

.arrow {
  right: -4rem;
  top: 10rem;
}

.line {
  bottom: 4rem;
  left: 8rem;
}

.soft__link {
  color: unset;
  text-decoration: unset;
  transition: 1s color;
}

.soft__link:hover {
  color: #1c87ee;
}

.loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

@media only screen and (min-width: 1400px) {
  .main {
    margin: auto;
  }
}

@media only screen and (min-width: 1300px) {
  .main {
    padding-left: 8rem;
  }
}

@media only screen and (max-width: 1024px) {
  .drawing {
    display: none;
  }

  .profile__image {
    width: clamp(120px, 20vw, 268px);
    height: clamp(180px, 28vw, 400px);
    margin-left: 3rem;
  }

  .main {
    flex-direction: column;
    padding: 1rem;
  }
  .title {
    font-size: 60px;
  }
  .description {
    font-size: 20px;
    max-width: 300px;
    margin-top: 1.5rem;
  }

  .information {
    color: #505661;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .container__vertical {
    right: 1rem;
  }
}
