.main{
  min-width: 100vw;
  min-height: 100vh;
  background: #171A1F 0% 0% no-repeat padding-box;
  padding: 1rem;
  color: #fff !important;
}

.title{
  font-size: 120px;
  font-weight: 700;
}

.description{
  font-size: 24px;
  color: #818997;
  font-weight: 500;
  margin-top: 3rem;
    max-width: 500px !important;
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 60px;
  }
  .description {
    font-size: 20px;
    max-width: 300px;
  }
}