.main{
  min-width: 100vw;
  min-height: 100vh;
  background: #171A1F 0% 0% no-repeat padding-box;
  padding: 1rem;
  color: #fff !important;
}

.title{
  font-size: 120px;
  font-weight: 700;
}

.description{
  font-size: 24px;
  color: #818997;
  font-weight: 500;
  margin-top: 3rem;
  max-width: 500px;
}

.contact{
  border: 2px solid #444A54;
  width: 158px;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: 2rem;
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 60px;
  }
  .description {
    font-size: 20px;
    max-width: 300px;
  }
}